.cuadrado{
width: 100px;
height: 100px;
background-color: aquamarine;  
}

.cuadrado:hover{
  background-color: rgb(175, 132, 216);
  transition: all 5s;

  transform: scale(3);
  translate: 200px;
  transform: rotate(10000000000deg);
}
.circulo:hover{
  background-color: rgb(70, 44, 70);

  transition: all 2s;
  transform: scale(3
  );
}








.circulo{width: 100px;
height: 100px;
background-color: blue;
border-radius: 100%;
}
